<?xml version="1.0" encoding="utf-8"?>
<!--
  SPDX-FileCopyrightText: 2021 The Calyx Institute
  SPDX-License-Identifier: Apache-2.0
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.calyxos.backup.storage">

    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <!-- Needed to backup original media files e.g. without stripped EXIF metadata -->
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <!--
    Needed to restore owning app of media files
    http://aosp.opersys.com/xref/android-11.0.0_r17/xref/packages/providers/MediaProvider/src/com/android/providers/media/util/PermissionUtils.java#88
    -->
    <uses-permission
        android:name="android.permission.BACKUP"
        tools:ignore="ProtectedPermissions" />

    <!-- Needed to schedule the periodic backup job -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Needed to run a periodic backup service that doesn't get killed -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

</manifest>
