[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
indent_size = 4
max_line_length = 100
ktlint_code_style = android_studio
ktlint_standard_wrapping = disabled
ktlint_standard_argument-list-wrapping = disabled
ktlint_standard_import-ordering = disabled
ktlint_standard_multiline-if-else = disabled
ktlint_standard_class-signature = disabled
ktlint_standard_function-expression-body = disabled
ktlint_standard_trailing-comma-on-call-site = disabled
ktlint_standard_trailing-comma-on-declaration-site = disabled
ktlint_standard_function-signature = disabled

[app/src/main/res/values-*/strings.xml]
insert_final_newline = unset
trim_trailing_whitespace = unset

[*.md]
trim_trailing_whitespace = false

[gradlew.bat]
charset = latin1
end_of_line = crlf
insert_final_newline = false

[.editorconfig]
ij_editorconfig_spaces_around_assignment_operators = true
