<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.stevesoltys.backup"
    android:versionCode="5"
    android:versionName="0.3.0">

    <uses-sdk
        android:minSdkVersion="26"
        android:targetSdkVersion="28"
        tools:ignore="GradleOverrides,OldTargetApi" />

    <uses-permission
        android:name="android.permission.BACKUP"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".Backup"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".settings.SettingsActivity"
            android:exported="true" />

        <activity
            android:name=".settings.RecoveryCodeActivity"
            android:label="@string/recovery_code_title" />

        <activity
            android:name="com.stevesoltys.backup.activity.MainActivity"
            android:label="@string/app_name"/>

        <activity
            android:name="com.stevesoltys.backup.activity.backup.CreateBackupActivity"
            android:parentActivityName="com.stevesoltys.backup.activity.MainActivity" />

        <activity
            android:name="com.stevesoltys.backup.activity.restore.RestoreBackupActivity"
            android:parentActivityName="com.stevesoltys.backup.activity.MainActivity" />

        <service
            android:name="com.stevesoltys.backup.transport.ConfigurableBackupTransportService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.backup.TRANSPORT_HOST" />
            </intent-filter>
        </service>

        <service
            android:name=".service.backup.BackupJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

    </application>
</manifest>
