<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.stevesoltys.backup"
    android:versionCode="5"
    android:versionName="0.3.0">

    <uses-sdk
        android:minSdkVersion="26"
        android:targetSdkVersion="28"
        tools:ignore="GradleOverrides,OldTargetApi" />

    <uses-permission
        android:name="android.permission.BACKUP"
        tools:ignore="ProtectedPermissions" />

    <!-- This is needed to retrieve the available storage roots -->
    <uses-permission
        android:name="android.permission.MANAGE_DOCUMENTS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".Backup"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".settings.SettingsActivity"
            android:exported="true" />

        <activity
            android:name=".ui.storage.StorageActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.storage.PermissionGrantActivity"
            android:exported="false"
            android:permission="android.permission.MANAGE_DOCUMENTS" />

        <activity
            android:name=".ui.recoverycode.RecoveryCodeActivity"
            android:label="@string/recovery_code_title"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".restore.RestoreActivity"
            android:exported="true"
            android:label="@string/restore_title"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.stevesoltys.backup.restore.RESTORE_BACKUP" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.stevesoltys.backup.activity.MainActivity"
            android:label="@string/app_name" />

        <activity
            android:name="com.stevesoltys.backup.activity.backup.CreateBackupActivity"
            android:parentActivityName="com.stevesoltys.backup.activity.MainActivity" />

        <activity
            android:name="com.stevesoltys.backup.activity.restore.RestoreBackupActivity"
            android:parentActivityName="com.stevesoltys.backup.activity.MainActivity" />

        <service
            android:name=".transport.ConfigurableBackupTransportService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.backup.TRANSPORT_HOST" />
            </intent-filter>
        </service>

    </application>
</manifest>
